.box{
	width: 200px;
	height: 200px;
	background-color: #e1e7f2;
	border: 1px solid red;
	float: left;

}

.box2{
	width: 200px;
	height: 200px;
	background-color: #e1e7f2;
	border: 1px solid red;
	float: left;
	clear: left;
	
}