body{
	background-color: yellow;
}

div{
	background-color: black;
}

h1{
	background-color: aqua;
	width: 50%;
	border: 2px;
	border-style: solid;
	padding: 30px;
	text-align: center;
}

p{
	background-color: #66ffcc;
	width: 25%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin: 100px;
	text-align: justify;
}

.parrafo{
	background-color: white;
	width: 25%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin: 0;
}

#unico{
	background-color: green;
	color: white;
	width: 10%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin: 10px;
	visibility: visible;
}