body{
	background-color: yellow
}

h1{
	color: rgba(255, 99, 71, 1);
	border: 2px ;
	border-style: solid;
	border-color: blue;
	background-color: gray
}

p h2 {
	background-color: blue;
}

h2{
	background-color: red;
}

p{
	background-color: green;
}



